<header class="site-header">

  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/"><i class="fa fa-building-o"></i> {{ site.title }}</a>
    <a class="site-title" style="float:right; color: rgb(211, 84, 0);" href="https://www.eventbrite.com/e/precision-medicine-symposium-tickets-23957453388"><i class="fa fa-ticket fa-border"></i> Register</a>
  </div>

  <div class="wrapper">
    <p align="left"><i class="fa fa-calendar-o"></i> <strong>April 9<sup>th</sup></strong> - Center for Entrepreneurial Leadership, BA 1 - Room 135</p>
  </div>

</header>
